@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
*{
    padding: 0;
}
body{
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
}

.form{
  border: 30px;
  border-width: 20%;
  border-radius: 3px 3px 3px 3px;
  border-style: none;
  }